<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<parameter name="browser" value="${browsername}" />
		<parameter name="url"
			value="http://tutorialsninja.com/demo/" />
		<classes>
			<class name="com.atmecs.demo.testscripts.AddCart" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
